.level_item {
    width: 48px;
    height: 48px;
    border: 1px solid black;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.level_item--glow {
    border: 1px solid aqua;
}